.form{
    max-width: 358px;
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}
@media (max-width: 590px) {
    .form {
        margin-bottom: 45px;
    }
}