.profile__work{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
@media (max-width:590px) {
    .profile__work{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}