.profile__name{
    margin: 0;
    max-width: 610px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width:850px) {
    .profile__name{
        max-width: 500px;
    }
}
@media (max-width:590px) {
    .profile__name{
        font-size: 27px;
        line-height: 33px;
    }
}
@media (max-width:400px) {
    .profile__name{
        max-width: 180px;
    }
}