.element__like-container{
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
    border: 0;
    margin: 25px 20px 30px auto;
    background-color: #fff;
    background-image: url("../../../images/like_transp.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 22px 19px;
}
.element__like-container:hover{
    cursor: pointer;
    opacity: 0.6;
}
.element__like-container:active{
    cursor: pointer;
    opacity: 1;
    background-image: url("../../../images/like_black.svg");
}
